<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 开启系统振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudy">
<!--        <activity-->
<!--            android:name=".MyAlarmActivity"-->
<!--            android:exported="false" />-->
        <!-- <activity -->
        <!-- android:name=".ReturnDesktopActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ChangeDirectionActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".LifeCycleTestActivity" -->
        <!-- android:exported="false" /> &lt;!&ndash; <activity &ndash;&gt; -->
        <!-- android:name=".AlarmActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SystemNetworkActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SystemMinuteActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <receiver -->
        <!-- android:name=".receiver.ShockReceiver" -->
        <!-- android:exported="true"> &lt;!&ndash; 跨应用传递 &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.example.broadcast.shock" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> &lt;!&ndash; <activity &ndash;&gt; -->
        <!-- android:name=".BroadStaticActivity" -->
        <!-- android:exported="false" /> &lt;!&ndash; <activity &ndash;&gt; -->
        <!-- android:name=".BroadOrderActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MyAlarmActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:exported="true"
            android:supportsPictureInPicture="true"> <!-- 支持画中画模式 -->
            <!-- 配置变更的豁免-不会重启Activity 默认竖屏 不能更改屏幕方向🍚 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>